<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.payment.simulator.server.mapper.CacheRuleMapper">
    <resultMap id="BaseResultMap" type="com.payment.simulator.server.entity.CacheRule">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="MOCK_RULE_ID" jdbcType="VARCHAR" property="mockRuleId"/>
        <result column="CACHE_OPTION" jdbcType="VARCHAR" property="cacheOption"/>
        <result column="REQ_CACHE_RULE" jdbcType="VARCHAR" property="reqCacheRule"/>
        <result column="CACHE_BODY" jdbcType="VARCHAR" property="cacheBody"/>
        <result column="CACHE_BODY_MATCH_RULE" jdbcType="VARCHAR" property="cacheBodyMatchRule"/>
        <result column="CACHE_TIME" jdbcType="BIGINT" property="cacheTime"/>
        <result column="RESPONSE_TEMPLATE" jdbcType="VARCHAR" property="responseTemplate"/>
        <result column="NULL_RESPONSE_TEMPLATE" jdbcType="VARCHAR" property="nullResponseTemplate"/>
        <result column="MATCH_ERROR_RESPONSE_TEMPLATE" jdbcType="VARCHAR" property="matchErrorResponseTemplate"/>
        <result column="MATCH_STATUS_CODE" jdbcType="VARCHAR" property="matchStatusCode"/>
        <result column="NULL_MATCH_STATUS_CODE" jdbcType="VARCHAR" property="nullMatchStatusCode"/>
        <result column="MATCH_ERROR_STATUS_CODE" jdbcType="VARCHAR" property="matchErrorStatusCode"/>
        <result column="CREATED" jdbcType="TIMESTAMP" property="created"/>
        <result column="UPDATED" jdbcType="TIMESTAMP" property="updated"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 基本列 -->
    <sql id="Base_Column_List">
        ID,
        MOCK_RULE_ID,
        CACHE_OPTION,
        REQ_CACHE_RULE,
        CACHE_BODY,
        CACHE_BODY_MATCH_RULE,
        CACHE_TIME,
        RESPONSE_TEMPLATE,
        NULL_RESPONSE_TEMPLATE,
        MATCH_ERROR_RESPONSE_TEMPLATE,
        CREATED,
        UPDATED,
        MATCH_STATUS_CODE,
        NULL_MATCH_STATUS_CODE,
        MATCH_ERROR_STATUS_CODE,
        REMARK
    </sql>

    <!-- 单个插入 -->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true"
            parameterType="com.payment.simulator.server.entity.CacheRule">
        insert into cache_rule (ID, MOCK_RULE_ID, CACHE_OPTION, REQ_CACHE_RULE, CACHE_BODY, CACHE_BODY_MATCH_RULE,
                                CACHE_TIME,
                                NULL_ResponsE_TEMPLATE, RESPONSE_TEMPLATE, MATCH_ERROR_RESPONSE_TEMPLATE,
                                MATCH_STATUS_CODE, NULL_MATCH_STATUS_CODE,
                                MATCH_ERROR_STATUS_CODE, CREATED, UPDATED, UPDATED)
        values (#{id}, #{mockRuleId}, #{cacheOption}, #{reqCacheRule}, #{cacheBody}, #{cacheBodyMatchRule},
                #{cacheTime}, #{nullResponseTemplate}, #{responseTemplate}, #{matchErrorResponseTemplate},
                #{matchStatusCode}, #{nullMatchStatusCode},
                #{matchErrorStatusCode}, #{created}, #{updated}, #{remark})
    </insert>

    <!-- 单个更新 -->
    <update id="update" parameterType="com.payment.simulator.server.entity.CacheRule">
        update cache_rule
        <set>
            <if test="mockRuleId != null">
                MOCK_RULE_ID = #{mockRuleId},
            </if>
            <if test="cacheOption != null">
                CACHE_OPTION = #{cacheOption},
            </if>
            <if test="reqCacheRule != null">
                REQ_CACHE_RULE = #{reqCacheRule},
            </if>
            <if test="cacheBody != null">
                CACHE_BODY = #{cacheBody},
            </if>
            <if test="cacheBodyMatchRule != null">
                CACHE_BODY_MATCH_RULE = #{cacheBodyMatchRule},
            </if>
            <if test="cacheTime != null">
                CACHE_TIME = #{cacheTime},
            </if>
            <if test="nullResponseTemplate != null">
                NULL_ResponsE_TEMPLATE = #{nullResponseTemplate},
            </if>
            <if test="responseTemplate != null">
                RESPONSE_TEMPLATE = #{responseTemplate},
            </if>
            <if test="matchErrorResponseTemplate != null">
                MATCH_ERROR_RESPONSE_TEMPLATE = #{matchErrorResponseTemplate},
            </if>
            <if test="matchStatusCode != null">
                MATCH_STATUS_CODE = #{matchStatusCode},
            </if>
            <if test="nullMatchStatusCode != null">
                NULL_MATCH_STATUS_CODE = #{nullMatchStatusCode},
            </if>
            <if test="matchErrorStatusCode != null">
                MATCH_ERROR_STATUS_CODE = #{matchErrorStatusCode},
            </if>
            <if test="created != null">
                CREATED = #{created},
            </if>
            <if test="updated != null">
                UPDATED = #{updated},
            </if>
            <if test="remark != null">
                REMARK = #{remark},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!-- 删除 -->
    <update id="delete" parameterType="java.lang.String">
        delete
        from cache_rule
        where ID = #{id}
    </update>

    <!-- 查询列表 -->
    <select id="query" resultMap="BaseResultMap" parameterType="com.payment.simulator.server.entity.CacheRuleQuery">
        select
        <include refid="Base_Column_List"/>
        from cache_rule
        <where>
            <if test="mockRuleId != null">
                and MOCK_RULE_ID = #{mockRuleId}
            </if>
            <if test="cacheOption != null">
                and CACHE_OPTION = #{cacheOption}
            </if>
            <if test="reqCacheRule != null">
                and REQ_CACHE_RULE = #{reqCacheRule}
            </if>
            <if test="cacheBody != null">
                and CACHE_BODY = #{cacheBody}
            </if>
            <if test="cacheBodyMatchRule != null">
                and CACHE_BODY_MATCH_RULE = #{cacheBodyMatchRule}
            </if>
            <if test="cacheTime != null">
                and CACHE_TIME = #{cacheTime}
            </if>
            <if test="nullResponseTemplate != null">
                and NULL_ResponsE_TEMPLATE = #{nullResponseTemplate}
            </if>
            <if test="responseTemplate != null">
                and RESPONSE_TEMPLATE = #{responseTemplate}
            </if>
            <if test="matchErrorResponseTemplate != null">
                and MATCH_ERROR_RESPONSE_TEMPLATE = #{matchErrorResponseTemplate}
            </if>
            <if test="matchStatusCode != null">
                and MATCH_STATUS_CODE = #{matchStatusCode}
            </if>
            <if test="nullMatchStatusCode != null">
                and NULL_MATCH_STATUS_CODE = #{nullMatchStatusCode}
            </if>
            <if test="matchErrorStatusCode != null">
                and MATCH_ERROR_STATUS_CODE = #{matchErrorStatusCode}
            </if>
            <if test="created != null">
                and CREATED = #{created}
            </if>
            <if test="updated != null">
                and UPDATED = #{updated}
            </if>
            <if test="remark != null">
                and REMARK = #{remark}
            </if>
        </where>
        <if test="pageNumber != null">
            limit #{startPosition},#{endPosition}
        </if>
    </select>

    <!-- 查询列表条数 -->
    <select id="queryCount" resultType="java.lang.Integer"
            parameterType="com.payment.simulator.server.entity.CacheRuleQuery">
        select count(1)
        from cache_rule
        <where>
            <if test="mockRuleId != null">
                and MOCK_RULE_ID = #{mockRuleId}
            </if>
            <if test="cacheOption != null">
                and CACHE_OPTION = #{cacheOption}
            </if>
            <if test="reqCacheRule != null">
                and REQ_CACHE_RULE = #{reqCacheRule}
            </if>
            <if test="cacheBody != null">
                and CACHE_BODY = #{cacheBody}
            </if>
            <if test="cacheBodyMatchRule != null">
                and CACHE_BODY_MATCH_RULE = #{cacheBodyMatchRule}
            </if>
            <if test="cacheTime != null">
                and CACHE_TIME = #{cacheTime}
            </if>
            <if test="nullResponseTemplate != null">
                and NULL_ResponsE_TEMPLATE = #{nullResponseTemplate}
            </if>
            <if test="responseTemplate != null">
                and RESPONSE_TEMPLATE = #{responseTemplate}
            </if>
            <if test="matchErrorResponseTemplate != null">
                and MATCH_ERROR_RESPONSE_TEMPLATE = #{matchErrorResponseTemplate}
            </if>
            <if test="matchStatusCode != null">
                and MATCH_STATUS_CODE = #{matchStatusCode}
            </if>
            <if test="nullMatchStatusCode != null">
                and NULL_MATCH_STATUS_CODE = #{nullMatchStatusCode}
            </if>
            <if test="matchErrorStatusCode != null">
                and MATCH_ERROR_STATUS_CODE = #{matchErrorStatusCode}
            </if>
            <if test="created != null">
                and CREATED = #{created}
            </if>
            <if test="updated != null">
                and UPDATED = #{updated}
            </if>
            <if test="remark != null">
                and REMARK = #{remark}
            </if>
        </where>
    </select>

    <!-- 单个查询 -->
    <select id="queryById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cache_rule
        where id = #{id}
    </select>
</mapper>